*{
  margin: 0;
  padding: 0;
}


h1{
  font-size: 5rem;
  color: #130f40;

}

.form-container{

  top: 120px;

  background-color: #81ecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  padding: 20px 50px;
  margin: auto;
  width: 650px;

  border-radius: 5px;
  box-shadow: 0 0 0 10px #2c3e50;
}

/* input */

.input{
  width: 470px;
  margin: auto;
  padding: 10px 20px;
  font-size: 1.5rem;

  -webkit-box-shadow: 0px 9px 8px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 8px 1px rgba(0,0,0,0.75);
}

.line{
  margin-top: 30px;
  border-bottom: 5px solid #30336b;
  width: 100%;
}

.line-bottom{
  margin-top: 30px;
  border-bottom: 5px solid #30336b;
  width: 512px;
}

/* form-body */
.form-body{
  display: flex;
  flex-direction: row;

  width: 513px;
  background-color: #81ecec;
  /* border: 1px solid black; */
}

.job-list{

  border-bottom: 2px solid #30336b;
  padding: 10px;
  margin-right:20px;

  text-align: left;
  color: #130f40;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.6rem;

  height: 2rem;
  width: 100%;
}

.delete{
  order:3;

  height: 30px;
  width: 100px;
  margin-top: 12px;

  border: 5px solid black;
  border-radius: 10px;
  cursor: pointer;
}


.done {
  height: 30px;
  width: 100px;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 10px;

  font-weight: 700;

  background-color: #20bf6b;
  border: 5px solid #130f40;
  border-radius: 10px;

  cursor: pointer;
}

.not-done {
  height: 30px;
  width: 100px;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 10px;

  font-weight: 700;

  background-color: #95a5a6;
  border: 5px solid #130f40;
  border-radius: 10px;

  cursor: pointer;
}

.new-input{
  padding: 10px;
  margin-right:20px;

  text-align: left;
  color: #130f40;
  font-weight: 500;
  font-size: 1.4rem;

  height: 1.8rem;
  width: 100%;
}

/* summary job status */
.sum-status{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  padding: 10px 20px;

  font-size: 1.2rem;
  font-weight: 700;
}
